<link href="{{url_for('static', filename='css/layout.css')}}" rel="stylesheet"/>
<!-- Bootstrap core CSS -->
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/jumbotron.css')}}" rel="stylesheet">
<!--[if lt IE 9]>
    <link href="{{url_for('static', filename='css/ie.css')}}" rel="stylesheet"/>
    <script src="{{url_for('static', filename='js/html5shiv.min.js')}}"></script>
<![endif]-->
<link href="{{url_for('static', filename='css/pagination.css')}}" rel="stylesheet">