  <hr/>
  <h3>LTE参数</h3>
  <ul class="toggle">
    <li class="icn_profile"><a href="{{ url_for('lteBlueprint.Profile') }}">配置文件</a></li>
    <li class="icn_categories"><a href="{{ url_for('lteBlueprint.lteCategories')}}">参数核查</a></li>
    <li class="icn_security"><a href="{{ url_for('lteBlueprint.initdb') }}">数据导入</a></li>
  </ul>
  <h3>CDMA参数</h3>
  <ul class="toggle">
    <li class="icn_security"><a href="#">配置文件</a></li>
    <li class="icn_security"><a href="#">参数核查</a></li>
    <li class="icn_security"><a href="#">数据导入</a></li>
  </ul>
  <h3>其他</h3>
  <ul class="toggle">
    <li class="icn_security"><a href="#">...</a></li>
    <li class="icn_security"><a href="#">...</a></li>
    <li class="icn_security"><a href="#">...</a></li>
    <li class="icn_security"><a href="#">...</a></li>
    <li class="icn_security"><a href="#">...</a></li>
    <li class="icn_security"><a href="#">...</a></li>
    <li class="icn_security"><a href="#">...</a></li>
  </ul>

  <footer>
    <hr />
    <p><strong>Copyright &copy; 2011 </strong></p>
    <p>Theme by <a href="#">MediaLoot</a></p>
  </footer>