{% extends 'main/base.html' %}
{% import "main/blocks.html" as blocks %}
{% block main %}
    <article class="module width_quarter">
        <header>
            <h3 class="tabs_involved">配置表</h3>
        </header>
        <div class="message_list">
            <div class="module_content">
                <ul class="nav nav-list">
                    {% for row in allTableNames %}
                        <li><a href="{{ url_for('lteBlueprint.showTableProfile', tableName=row) }}">{{ row }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>

    <form action="{{ url_for('lteBlueprint.editProfileTable', tableName=tableName) }}" method="POST">
        <article class="module width_3_quarter">
            <header>
                <h3 class="tabs_involved">详细</h3>
                <ul class="tabs">
                    <input class="btn btn-default" type="submit" value="修改">
                </ul>
            </header>
            <div class="message_list">
                <div class="module_content">
                    {% for row in workingFields %}
                        <div class="message">
                            <lable>
                                {{ row }}
                            </lable>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </article>
    </form>
{% endblock %}